In [1]:
import pandas as pd

In [2]:
YEAR = 2017

In [3]:
df = pd.read_csv('it_{}_raw.csv.gz'.format(YEAR), converters={'recipient_postcode': str})
df.head()

,recipient_id,recipient_location,recipient_name,recipient_postcode,total_amount
0,unaprol-consorzio-olivicolo-italiano-societa-c...,"ROMA, ROMA",UNAPROL - CONSORZIO OLIVICOLO ITALIANO SOCIETA...,00187,11607652.26
1,consorzio-nazionale-degli-olivicoltori-societa...,"ROMA, ROMA",CONSORZIO NAZIONALE DEGLI OLIVICOLTORI SOCIETA...,00187,8045116.55
2,genagricola-spa-34132-trieste-trieste,"TRIESTE, TRIESTE",GENAGRICOLA SPA,34132,4686814.50
3,consiglio-per-la-ricerca-in-agricoltura-e-l-an...,"ROMA, ROMA",CONSIGLIO PER LA RICERCA IN AGRICOLTURA E L'AN...,00198,3537866.93
4,genagricola-spa-34132-trieste-trieste,"TRIESTE, TRIESTE",GENAGRICOLA SPA,34132,4686814.50

In [4]:
len(df)

2275452

In [5]:
(~df.duplicated()).sum()

548606

In [6]:
df = df[~df.duplicated()]
len(df)

548606

In [7]:
df = df.rename(columns={'total_amount': 'amount'})
df['scheme'] = '__total__'
df['recipient_postcode'] = df['recipient_postcode'].apply(lambda x: x.replace('.0', '').zfill(5))
df['currency'] = 'EUR'
df['country'] = 'IT'
df.head()

,recipient_id,recipient_location,recipient_name,recipient_postcode,amount,scheme,currency,country
0,unaprol-consorzio-olivicolo-italiano-societa-c...,"ROMA, ROMA",UNAPROL - CONSORZIO OLIVICOLO ITALIANO SOCIETA...,00187,11607652.26,__total__,EUR,IT
1,consorzio-nazionale-degli-olivicoltori-societa...,"ROMA, ROMA",CONSORZIO NAZIONALE DEGLI OLIVICOLTORI SOCIETA...,00187,8045116.55,__total__,EUR,IT
2,genagricola-spa-34132-trieste-trieste,"TRIESTE, TRIESTE",GENAGRICOLA SPA,34132,4686814.50,__total__,EUR,IT
3,consiglio-per-la-ricerca-in-agricoltura-e-l-an...,"ROMA, ROMA",CONSIGLIO PER LA RICERCA IN AGRICOLTURA E L'AN...,00198,3537866.93,__total__,EUR,IT
5,finlombarda-finanziaria-per-lo-sviluppo-della-...,"MILANO, MILANO",FINLOMBARDA - FINANZIARIA PER LO SVILUPPO DELL...,20124,3578960.00,__total__,EUR,IT

In [10]:
df['year'] = YEAR

In [11]:
'{:,}'.format(df['amount'].sum())

'4,568,788,319.44'

In [12]:
df.to_csv('it_{}.csv.gz'.format(YEAR), compression='gzip', index=False)