In [9]:
import dask.dataframe as dd

In [10]:
YEAR = 2018

In [11]:
df = dd.read_csv('data/SE_{}*.csv.gz'.format(YEAR), compression='gzip', dtype={'recipient_postcode': str}).compute()
df.head()

,amount,country,currency,recipient_id,recipient_location,recipient_name,recipient_postcode,scheme,year
0,43327.0,SE,SEK,se-allergon-ab-26292-angelholm,"Ängelholm, Helsingborg, Skåne län",ALLERGON AB,26292,"Garantifonden direktstöd: II.1, Ordningen för ...",2018
1,23779.0,SE,SEK,se-allergon-ab-26292-angelholm,"Ängelholm, Helsingborg, Skåne län",ALLERGON AB,26292,"Garantifonden direktstöd: II.4, Stöd för jordb...",2018
2,649.0,SE,SEK,se-allergon-ab-26292-angelholm,"Ängelholm, Helsingborg, Skåne län",ALLERGON AB,26292,"Garantifonden direktstöd: II.10, Återbetalning...",2018
3,23743.0,SE,SEK,se-svensson-sven-olof-artur-68597-ostmark,"Östmark, Torsby, Värmlands län",",SVENSSON SVEN OLOF ARTUR",68597,"Garantifonden direktstöd: II.7, Frivilligt kop...",2018
4,51009.0,SE,SEK,se-svensson-sven-olof-artur-68597-ostmark,"Östmark, Torsby, Värmlands län",",SVENSSON SVEN OLOF ARTUR",68597,"Garantifonden direktstöd: II.1, Ordningen för ...",2018

In [12]:
df.duplicated().sum()

0

In [13]:
df = df.drop_duplicates()

In [14]:
df['recipient_id'].nunique()

63858

In [15]:
df.to_csv('se_{}.csv.gz'.format(YEAR), compression='gzip', index=False)